/* assets/css/admin.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: right;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.stats {
    background: #f9f9f9; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.recent-bookings {
    margin-top: 20px;
}

.recent-bookings table {
    width: 100%;
    border-collapse: collapse;
}

.recent-bookings table th,
.recent-bookings table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
